@model IEnumerable<Bee_Project.Areas.Customer.Models.VUserAppointment>

@{
    ViewBag.Title = "User Appointments";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<h2>User Appointments</h2>


<table class="table">
    <tr>
        <th>
            Service Name
        </th>
        
        <th>
            start Time
        </th>
        <th>
            end Time
        </th>
        <th>
            Date
        </th>
        <th>
            Cancel
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentService.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UAppointment.startTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UAppointment.endTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UAppointment.appointmentDate)
        </td>
        <td>
            @Html.ActionLink("Cancel", "Cancel", new { id = item.UAppointment.ID })
        </td>
        <td>
            @Html.ActionLink("Details", "details", new { id = item.AppointmentService.ID })
        </td>
    </tr>
}

</table>
