@model IEnumerable<Bee_Project.Areas.Customer.Models.VSearchResult>

@{
    ViewBag.Title = "ViewSearchResult";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<h2>ViewSearchResult</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selectedCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selectedCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.metaDatas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.selectedCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.selectedCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.metaDatas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distance)
        </td>
        <td>
            @Html.ActionLink("Details", "details", new { id = item.ID }) |
           
        </td>
    </tr>
}

</table>
