@model Bee_Project.Areas.ServiceProvider.Models.VModel.VService

@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateService</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>VService</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cities, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.selectedCities, Model.Cities,"select City")
                @Html.ValidationMessageFor(model => model.Cities)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Countries, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.selectedCountries, Model.Countries, "select City")
                @Html.ValidationMessageFor(model => model.Countries)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTypes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownListFor(x => x.selectedServiceTypes, Model.ServiceTypes, "select City")
                @Html.ValidationMessageFor(model => model.ServiceTypes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ditrict, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ditrict)
                @Html.ValidationMessageFor(model => model.Ditrict)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Street)
                @Html.ValidationMessageFor(model => model.Street)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FloorNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FloorNumber)
                @Html.ValidationMessageFor(model => model.FloorNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DoorNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoorNumber)
                @Html.ValidationMessageFor(model => model.DoorNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Building, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Building)
                @Html.ValidationMessageFor(model => model.Building)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalCode)
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.longitude)
                @Html.ValidationMessageFor(model => model.longitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.altitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.altitude)
                @Html.ValidationMessageFor(model => model.altitude)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
