@model Bee_Project.Areas.ServiceProvider.Models.VModel.VServiceItem

@{
    ViewBag.Title = "ServiceDetail";
   // Layout = "~/Areas/ServiceProvider/Views/Shared/_Layout.cshtml";
}

<h2>Service Detail</h2>

<div>
    
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.serviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceMetaData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceMetaData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceCountry)
        </dd>

       

     

        <dt>
            @Html.DisplayNameFor(model => model.serviceDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceDetails)
        </dd>

    </dl>
</div>
<p>

  
    @Html.ActionLink("Appointments", "ListAppointments", "Appointment",new {id=Model.ID},null)

</p>
